* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 40px;
    
}
@font-face {
  font-family: 'Pokemon';
  src: url('Pokemon Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Pokemon', sans-serif;
}
.section {
    display: flex;
    gap: 20px;
   
    flex-wrap: wrap; 

}

.section1 {
    background-color: rgba(240, 206, 68, 0.344);
    padding: 10px;
    align-items: center;
    
}

.background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    
   
    filter: blur(3px);
    
    transform: scale(1.05);
}
.recherche{
    font-size: 20px !important;
    
}
.bouton-rechercher{
    background-color: red;
}

.filtre{
    font-size: 30px !important;
}
#pokemon-grid {
    display: flex !important;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 40px 40px;
    justify-content: center;
    border-right: 10cm;
}
.btn-favori{
    font-size: 30px  !important;
}
#type-filter{
    font-size: 20px !important;
    font-family: 'Pokemon', sans-serif;
}
.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;           
    padding: 15px;
    background: rgba(255, 255, 255, 0.85); 
    letter-spacing: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#fav-count {
    display: inline-block; 
    margin-left: 25px;     
    margin-top: 15px;       
    margin-bottom: 10px;   
}
.pokemon-card img {
    width: 200px;       
    height: 200 px;
    object-fit: contain;
    image-rendering: pixelated;
}